<nav class="teal darken-4">
  <div class="container">
    <%# <%= link_to "Home", root_path, class: "brand-logo" %> %>
    <ul class="right">
      <li><%= link_to "View Orders", orders_path %></li>
      <li><%= link_to "Create Order", new_order_path %></li>
    </ul>
  </div>
</nav>